{% extends 'base.html' %}
{% load static %}
{% block title %}리뷰 목록{% endblock title %}

{% block content %}
  <section class="banner banner-index">
    <div class="overlay-banner"></div>
    <h1 class="review-title">리뷰 목록</h1>
  </section>
  <section class="main container my-5">

    <a class="btn btn-outline-secondary" href="{% url 'reviews:create' %}" role="button">리뷰 작성</a>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">리뷰 제목</th>
          <th scope="col">영화 이름</th>
          <th scope="col">더 보기</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for review in reviews %}
          <tr>
            <td>{{ review.title }}</td>
            <td>{{ review.movie_name }}</td>
            <td>
              <a class="btn btn-outline-secondary" href="{% url 'reviews:detail' review.pk %}" role="button">더보기</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}