{% extends 'base.html' %}
{% block title %}index{% endblock title %}
{% block content %}

  <div class="container mt-5 px-5">
    <h3 class="text-center mb-3">회원목록</h3>
    <div class="row justify-content-center">
      {% for user in users %}
        <div class="col-6 my-3">
          <div class="container border h-100 py-5 text-center">
            <h3 class="my-3">NO.
              {{user.id}}</h3>
            <h3 class="my-3">ID :
              {{user.username}}</h3>
            <hr>
            <a class="btn fw-bolder border border-dark" href="{% url 'accounts:detail' user.id %}">상세정보</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}